.event-card {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  cursor: pointer;
  width: 300px;
}

.event-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.event-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.event-content {
  padding: 15px;
  text-align: center;      
  display: flex;           
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
}
.event-title {
  font-size: 1.2rem;
  color: #1a1a1a;
  margin-bottom: 8px;
}

.event-info {
  color: #5f5f5f;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.btn-details {
  padding: 8px 12px;
  border: none;
  background: #8b5cf6;
  color: white;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: 0.2s;
}

.btn-details:hover {
  background: #6d28d9;
}

.event-club {
  color: #8b5cf6; /* purple to match theme */
  font-size: 0.85rem;
  margin-bottom: 12px;
  font-weight: 500;
}
